@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Hide scrollbar for all browsers */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;  /* Enable smooth scrolling */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;  /* Hide scrollbar for WebKit browsers */
}